* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

/* region Nav */
.nav {
    background-color: #cd3752;
    overflow: auto;
}

.nav-item {
    float: left;
    color: #f7f7f7;
}

.nav-item:hover {
    background-color: #aa3049;
}

.nav-item a {
    display: inline-block;
    text-decoration: none;
    color: #f7f7f7;
    padding: 10px;
}

/* endregion */

.body {
    clear: both;
}